.resetBtn{
  background:#e53935;
  color:#fff;
  border:none;
  padding:15px 30px;
  font-size:20px;
  border-radius:12px;
  cursor:pointer;
  margin-top:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.resetBtn:hover{
  background:#c62828;
}
